body{
    background-color: black;
    width: 600px;
    margin: 0;
    
}
.wrapper{
    color: black;
    display: block;
    background-color: white;
    margin: 0;
}


.icons{
    display: inline;
    
}
